/*Globalizing the colors, fonts, and animations of my portfolio in this file.*/

:root{
    /*Colors*/
    --color-text: white;
    --color-primary: lightblue;
    --color-secondary: blue;
    --color-dark: indigo;
    --color-bg: darkblue;
    --color-btnText: black;

    /* Fonts */
    --font-robot: "Roboto";
}